.counter {
    background: #8de060;
    padding-bottom: 80px;
    padding-top: 20px;
    border-bottom: 7px solid #db57e1;
    border-left: 5px solid #ec99f0;
    margin: 0 300px;
}

h2 {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
}

h3 span {
    padding: 10px 15px;
    background: rgb(226, 117, 234);
    border-radius: 5px 10px;
    border-bottom: 4px solid #000;
}

button {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background: rgb(200, 215, 112);
    border-radius: 5px 10px;
    border-bottom: 4px solid #000;
}